        * {
            margin: 0;
            box-sizing: border-box;
        }

        #heading {
            width: 300px;
            height: 200px;
            border: 1px solid black;
            text-align: center;
            line-height: 200px;
        }